body{
    background-color:lemonchiffon;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

body{
    margin: 20px 20px 10px 20px;
}

h2{
    text-align: center;
    color: orangered  
}

h2{
    font-size: 75px;
}