body{
    background-color:azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    margin: 20px 20px 10px 20px;
}

h1{
    font-size: 60px;
    text-align: center;
    font-family: Cambria;
}

h2{
    font-size: 37px;
    font-family: Cochin;
    color: navy;
}

h3{
    font-size: 22px;
    font-family: Georgia;
    color:cornflowerblue;
}

p{
    line-height: 1.5;
}

img{
    border: 5px solid lightskyblue;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}

ul{
    display: inline-block;
    margin-left: 50px;
}

